#info{
    display: inline-block;
    min-height: 100vh;
    position: relative;
    padding-left: 200px;
    max-width: 900px;
    font-size: x-large;
    padding-top: 50px;
}
#picab{
position: absolute;
padding-left: 100px;
}
#abouth{
    padding-top: 150px;
    padding-left: 200px;
    font-size: 40px;
}
