body {
  background-image: url(img/backgroundtop.jpeg);
}
.container {
  margin: 200px;
  display: flex;
  justify-content: center;
}
.container-form{
 padding : 50px;
 font-size: x-large;

}
form{
  display: grid;
  grid-row-gap: 20px;
}
form p {
  font-weight: 600;
}
input,select{
  pad: 20px 25px;
}
.btn{
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  border-radius: 100px;
  box-shadow: 7px 10px 12px green;
  cursor: pointer;
  transition: all .3;
  padding-left: -15px;
}
.btn:hover{
  transform: scale(1.03);
  box-shadow: 10px 12px 15px green;
}
.headingh{
  text-align: center;
  font-size: 60px;
  color: green;
}
.writedown{
  background-color: rgba(82, 80, 80, 0.253);
  font-size: large;
  color: white;
}