@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Raleway:wght@400;500;600&display=swap');

:root{
  --green:#27ae60;
  --black:#192a56;
  --light-color:#666;
  --glow-color: hsl(186 100% 69%);

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
    outline: none; border: none;
  }

  html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
  }


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0; top: 0;
    left: 0;
    background: rgb(253, 253, 253);
    padding: 0.9rem 9%;
    z-index: 1000;
    box-shadow: 0.1rem 0.5rem  rgba(0, 0 ,0,.1);
}

/*logo sittings*/

.logo {
  position: relative;
  overflow: hidden;
  }

  .logo {
    position: relative;
  }
  .logo span {
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: rgb(10, 0, 0);
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
    
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }


/*navbar*/  

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    margin: 0 25px;
}

ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16.5px;
    transition: 0.1s linear;
    padding: 0 1,5rem;
}

ul li a::after{
    content: "";
    width: 0;
    height: 2px;
    background: red;
    display: block;
    transition: 0.2s linear;
}

ul li a:hover::after{
    width: 100%;
}

ul li a:hover{
    color: green;
}

#menu-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    border: .1rem solid rgb(0, 0 ,0,.3);
    font-size: 3rem;
    padding: .5rem 1.5rem;
    border-radius: .5rem;  
  }
  
  #menu-icon div {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }
 
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  


  body{
    
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;  
  }

  body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    font-family: "poppins";
  }
.banner{
  min-height: 100vh;
background: url(http://res.cloudinary.com/the-infatuation/image/upload/v1663894648/images/Uva-Interior-Noah_Devereaux_dybg0f.jpg) center/cover no-repeat;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
padding-bottom: 20px;
}

.omramming{
  display: grid;
  grid-template-columns: 420px;
}
.banner h2{
  padding-bottom: 100px;
  margin-bottom: 10px;
}

.innhold h2{
  font-family: "Poppins";
  text-align: center;
  color: white;
  padding: 25px 0 
  10px 0;
  font-size: 30px;
  font-weight: 700;
}

.rad{
  display: flex;
  width: 90%;
  margin: 0 auto;
}

form select, form input{
  display: block;
  width: 100%;
  margin: 15px 12px;
  padding: 5px;
  font-size: 15px;
  font-family: 'poppins';
  outline: none;
  border: none;
  border-bottom: 1px solid white;
font-weight: 400;
}

form input[type =
 text], form input[type = number],
  form 
  input::placeholder,select{
  color: rgb(169, 175, 208);
}

form input[type = submit]{
  color: white;
  background: rgb(89, 210, 121);
  border-radius: 4px;
  cursor:pointer;
}

form input[type = "submit"]:hover{
  opacity: 0.9;
}



h1{
  font-size: xx-large;
}

