@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Raleway:wght@400;500;600&display=swap');

:root{
  --green:#27ae60;
  --black:#192a56;
  --light-color:#666;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
    outline: none; border: none;
  }

  html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
  }


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0; top: 0;
    left: 0;
    background: rgb(255, 255, 255);
    padding: 2rem 9%;
    z-index: 1000;
    box-shadow: 0.2rem 0.5rem  rgba(0, 0 ,0,.1);
}

#logo img{
    width: 50px;
    cursor: pointer;
    margin: 5px 0;

    
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    margin: 0 25px;
}

ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16.5px;
    transition: 0.1s linear;
    padding: 0 1,5rem;
}

ul li a::after{
    content: "";
    width: 0;
    height: 2px;
    background: red;
    display: block;
    transition: 0.2s linear;
}

ul li a:hover::after{
    width: 100%;
}

ul li a:hover{
    color: green;
}

#menu-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    border: .1rem solid rgb(0, 0 ,0,.3);
    font-size: 3rem;
    padding: .5rem 1.5rem;
    border-radius: .5rem;  
  }
  
  #menu-icon div {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }
 
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  
  /*media queries*/
  

  
  @media only screen and (max-width: 767px) {
    header nav {
      display: none;
    }
  
    #menu-icon {
      display: block;
    }
    .open .mobile-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      
    }
    
    .mobile-menu {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      height: calc(100vh - 50px);
      width: 100%;
      position:absolute;
      top:100%; left:0; right:0;
      background:rgb(214, 180, 180); /*bacgrunn farget til menyen*/
      border-top: .1rem solid rgba(0, 0, 10, 0.479);
      
    }
    
    .mobile-menu li {
      margin-bottom: 10px;
      margin:1.5rem;
      padding:1.5rem;
      background:#fff(209, 183, 183);
      border:.1rem solid rgba(233, 12, 12, 0.692);
      
      
    }
  }  
  
