@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Raleway:wght@400;500;600&display=swap');

:root{
  --green:#27ae60;
  --black:#192a56;
  --light-color:#666;
  --glow-color: hsl(186 100% 69%);

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
    outline: none; border: none;
  }

  html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
    overflow-x: hidden;
  }


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0; top: 0;
    left: 0;
    background: rgb(253, 253, 253);
    padding: 0.9rem 9%;
    z-index: 1000;
    box-shadow: 0.1rem 0.5rem  rgba(0, 0 ,0,.1);
}

/*logo sittings*/

.logo {
  position: relative;
  overflow: hidden;
  }

  .logo {
    position: relative;
  }
  .logo span {
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: rgb(10, 0, 0);
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
    
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }


/*navbar*/  

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    margin: 0 25px;
}

ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16.5px;
    transition: 0.1s linear;
    padding: 0 1,5rem;
}

ul li a::after{
    content: "";
    width: 0;
    height: 2px;
    background: red;
    display: block;
    transition: 0.2s linear;
}

ul li a:hover::after{
    width: 100%;
}

ul li a:hover{
    color: green;
}

#menu-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    border: .1rem solid rgb(0, 0 ,0,.3);
    font-size: 3rem;
    padding: .5rem 1.5rem;
    border-radius: .5rem;  
  }
  
  #menu-icon div {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }
 
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  /*Home_page*/
  section{
    padding: 1rem 9%;
  }
 
  .home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    justify-content: space-around;
    position: relative;
    gap: 1.5rem;
  }
  .home .content{
    flex: 0 1 40rem;
    padding-top: 6.5rem;
  }


  /*homepage pictere*/
  body{
    
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center; 
    
  }

  body{
    background-image: url(https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  

  /*icone img homepage*/

  .home .image{
    flex: 0 1 40rem;
    padding-top: 6.5rem;
  }

 .home .image img {
    transition: top ease 0.5s;
    width: 100%;
    animation: float 2s linear infinite;
    position: relative;
    }
    
    .image img:hover{
      top: -50px;}
  
 
 
    @keyframes float{
    0%, 100%{
      transform: translateY(0rem);
    }
    50%{
      transform: translateY(3rem);
    }
  }

  /*style homepage*/
 
 .home .content h3{
    font-size: 5rem;
    color: #ffffff;
    
    width: 100%;
    text-shadow: 1px 1px 2px black;
}

.content h3 span{
  color: red;
  font-size: 2.2rem;
}
.home .content{
  flex: 0 1 40rem;
  padding-top: 6.5rem;}

 .content h1{
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  }

  .home .content h1 span{

  }

 .home .content p{
    padding: 1rem 0;
    font-size: 1.8rem;
    line-height: 1.5;
    width: 100%;
   
    
    
  }

  .change_text:after {
    content: "";
    animation: changetext 10s infinite linear;
    color: #00b894;
  }
  
  @keyframes changetext {
    0% {
      content: "Biscutis";
    }
    20% {
      content: "Crepes";
    }
    35% {
      content: "Pizza Capricciosa";
    }
    60% {
      content: "Pizza Porchetta";
    }
    80% {
      content: "Pasta Bolognese";
    }
    100% {
      content: "Pasta Carbonara";
    }
  }


  /*button*/

  .main_btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
  }
  
  .main_btn:hover{
    background-color: #27ae60;
 }
  
  
   
  
 
 
  /*media queries*/
  

  
  @media only screen and (max-width: 767px) {
    header nav {
      display: none;
    }
  
    #menu-icon {
      display: block;
    }
    .open .mobile-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      
    }
    
    .mobile-menu {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      height: calc(100vh - 50px);
      width: 100%;
      position:absolute;
      top:100%; left:0; right:0;
      background:rgb(214, 180, 180); /*bacgrunn farget til menyen*/
      border-top: .1rem solid rgba(0, 0, 10, 0.479);
      
    }
    
    .mobile-menu li {
      margin-bottom: 10px;
      margin:1.5rem;
      padding:1.5rem;
      background:#fff(209, 183, 183);
      border:.1rem solid rgba(233, 12, 12, 0.692);
      
      
    }
   
   
  }

  @media screen and (max-width : 768px){
    #mobile_menu {
        display: block;
    }
    #navbar ul{
        display: none;}
    
    
    
  
  }
  @media(max-width:1200px){
    html{
      font-size: 40%;
  }
  header{
    padding:1rem 2rem;
  }
  section{
    padding: 2rem;
  }
.content{
    flex-direction: column;
  }

  .home{
    flex-direction: column;
    text-align: center;
  }
  .home .content h1{
   
    flex-direction: column;
}
  
  
 }
 @media(max-width:360px){
 .html {
  font-size: 70%;}
.home{
    flex-direction: column;
    position: fixed
  }

}



.footer-container{
  padding: 4rem 0 4rem 0;
  background-color: #27ae60;
 
}
.footer{
  
  width: 80%;
  height: auto;
  background-color: #27ae60;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.footer-heading{
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}
.footer-heading a{
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.footer-heading a:hover{
  color: rgba(120, 25, 25, 0.502);
  transition: 0.3s ease-in;
  transition: 0.3s ease-out;
}
 .footer-epost {
  margin-bottom: 2rem ;
 }
 #footer-epost{
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 10px;
  font-size: 20px;
  margin-bottom: 10px;
 }
 #footer-epostknapp{
  width: 100px ;
  height: 40px;
  border-radius: 4px;
  margin-bottom: 10px;
  outline: none;
  border: none;
 }
 #footer-epostknapp:hover{
  cursor:pointer;
  background-color: rgba(112, 45, 45, 0.466);
  transition: all 0.3s ease-in-out;    
 }