@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Raleway:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

html{
    scroll-behavior: smooth;
}

section{
    width: 90%;
    height: 100vh;
}


section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9000;
}

section nav .logo img{
    width: 90px;
    cursor: pointer;
    margin: 7px 0;
}

section nav .nav__list__wrapper{
    list-style: none;
}

section nav .nav__list__wrapper li{
    display: inline-block;
    margin: 0 25px;
}

section nav .nav__list__wrapper li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s linear;
}

section nav .nav__list__wrapper li a::after{
    content: "";
    width: 0;
    height: 2px;
    background: red;
    display: block;
    transition: 0.2s linear;
}

section nav .nav__list__wrapper li a:hover::after{
    width: 100%;
}

section nav .nav__list__wrapper li a:hover{
    color: red;
}





