@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Raleway:wght@400;500;600&display=swap');

:root{
  --green:#27ae60;
  --black:#192a56;
  --light-color:#666;
  --glow-color: hsl(186 100% 69%);

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
    outline: none; border: none;
  }

  html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
  }


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0; top: 0;
    left: 0;
    background: rgb(253, 253, 253);
    padding: 0.9rem 9%;
    z-index: 1000;
    box-shadow: 0.1rem 0.5rem  rgba(0, 0 ,0,.1);
}

/*logo sittings*/

.logo {
  position: relative;
  overflow: hidden;
  }

  .logo {
    position: relative;
  }
  .logo span {
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: rgb(10, 0, 0);
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
    
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }


/*navbar*/  

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    margin: 0 25px;
}

ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16.5px;
    transition: 0.1s linear;
    padding: 0 1,5rem;
}

ul li a::after{
    content: "";
    width: 0;
    height: 2px;
    background: red;
    display: block;
    transition: 0.2s linear;
}

ul li a:hover::after{
    width: 100%;
}

ul li a:hover{
    color: green;
}

#menu-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    border: .1rem solid rgb(0, 0 ,0,.3);
    font-size: 3rem;
    padding: .5rem 1.5rem;
    border-radius: .5rem;  
  }
  
  #menu-icon div {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }
 
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  /*Home_page*/
  section{
    padding: 2rem 11%;
  }

  .home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    justify-content: space-around;
    position: relative;
    top: 130px;
  }


  /*homepage pictere*/
  body{
    
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;  
  }

  /*icone img homepage*/

  .image img{
    transition: top ease 0.5s;
    width: 460px;
    position: relative;
    left: 135px;
    margin-top: -260px;
    animation: float 2s linear infinite;
  }
  .image img:hover{
    top: -50px;
  }
  @keyframes float{
    0%, 100%{
      transform: translateY(0rem);
    }
    50%{
      transform: translateY(3rem);
    }
  }

  /*style homepage*/
  .content {
    position: relative;
  }
  .content h3{
    font-size: 3.8rem;
    color: #27ae60;
    font-weight: 200;
    top: 300px;
    text-shadow: 1px 1px 2px black;
}

.content h3 span{
  color: red;
}


 .content h1{
  font-family: 'Courier New', Courier, monospace;

  }

  .home .content h1 span{

  }

  .home .content p{
    padding: 1rem 0;
    font-size: 1.7rem;
    text-align: start;
    
  }

  .change_text:after {
    content: "";
    animation: changetext 10s infinite linear;
    color: #00b894;
  }
  
  @keyframes changetext {
    0% {
      content: "Italian Pizza";
    }
    20% {
      content: "Italian Pasta";
    }
    35% {
      content: "Mexican Pizza";
    }
    60% {
      content: "Italian Food";
    }
    80% {
      content: "delhi";
    }
    100% {
      content: "Mumbai";
    }
  }


  /*button*/
  .main_btn {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .main_btn:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .main_btn:hover:after {
    top: 0px;
    left: 0px;
  }
  
  @media (min-width: 768px) {
    .main_btn {
      padding: 13px 50px 13px;
    }
  }
   
  
 
 
  /*media queries*/
  

  
  @media only screen and (max-width: 767px) {
    header nav {
      display: none;
    }
  
    #menu-icon {
      display: block;
    }
    .open .mobile-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      
    }
    
    .mobile-menu {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      height: calc(100vh - 50px);
      width: 100%;
      position:absolute;
      top:100%; left:0; right:0;
      background:rgb(214, 180, 180); /*bacgrunn farget til menyen*/
      border-top: .1rem solid rgba(0, 0, 10, 0.479);
      
    }
    
    .mobile-menu li {
      margin-bottom: 10px;
      margin:1.5rem;
      padding:1.5rem;
      background:#fff(209, 183, 183);
      border:.1rem solid rgba(233, 12, 12, 0.692);
      
      
    }
    .main_btn{
      font-size: 1em;
    }
  }  
  
