#hoved{
position: relative;
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
#hoved::before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url(img/backgroundtop.jpeg);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;

}
