* {
    box-sizing: border-box;
  }
  .main1 {
    float: left;
    width: 60%;
    padding: 0 2px;
    padding-top: 100px;
  }
  .right1 {
    background-color: #79dd6b;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
    padding-top: 15%;
    background-image: url(img/tlotopicaldwa.jpg);  
    color: white;
    
  }
  .htwo{
    font-size: 28px;
    padding-left: 10px;
  }
.texts {
    font-size: 18px;
    padding-top: 50px;
    padding-bottom: 45px;
    padding-left: 10px;
}
h3{
font-size: large;
padding-top: 10px;
}
p {
    font-size: large;
    padding-bottom: 10px;
    padding-top: 10px; 
}
a:link{
    text-decoration:none;  
}
a:hover{
    color:green
}
#footer{
    clear: both;
    background-color: #81b6da;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 18px;
}

@media only screen and (max-width: 767px) {
  header nav {
    display: none;
  }

  #menu-icon {
    display: block;
  }
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    position:absolute;
    top:100%; left:0; right:0;
    background:rgb(214, 180, 180); /*bacgrunn farget til menyen*/
    border-top: .1rem solid rgba(0, 0, 10, 0.479);
    
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
    margin:1.5rem;
    padding:1.5rem;
    background:#fff(209, 183, 183);
    border:.1rem solid rgba(233, 12, 12, 0.692);
    
    
  }
 
 
}

@media screen and (max-width : 768px){
  #mobile_menu {
      display: block;
  }
  #navbar ul{
      display: none;}
    .texts p{
      padding-block: -500px
    }
    .main1{
      flex-direction: column;
    }
    .htwo{
      font-size: 2.5rem;
    }
    .texts{
      font-size: 1.9rem;
     color: black;
    }

    .right1{
      padding-right: -500px;
    }
  
  
  }